body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(128, 128, 128, 0.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  overflow: hidden;
  text-align: right;
  background-color:  rgba(128, 128, 128, 0.7);
  height: 36px;
  width: 80%;
  padding: 20px;
  position: fixed;
  margin-left: 8.5%;
}

.navbar-brand {
  font-size: 1.25rem;
  white-space: nowrap;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  top: 20px;
}

.home-img{
  text-align: center;
}

.link-home{
  float: left;
}

.link-home:link{
  color: #ffffff;
}

.link-home:visited{
  color: white;
}

.link-home:hover{
  color: #000000;
}

.link-conversor,
.link-about{
  display: inline-block;
  
}

.link-conversor,
.link-about {
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

.link-about:link{
  color: #ffffff;
}

.link-about:visited{
  color: white;
}

.link-about:hover{
  color: #000000;
}

.link-conversor:link{
  color: #ffffff;
}

.link-conversor:visited{
  color: white;
}

.link-conversor:hover{
  color: #000000;
}

.navbar-nav {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.container{
    box-shadow: 0px 9px 150px 0px rgba(128,128,128,0.7);
    -webkit-box-shadow: 0px 9px 150px 0px rgba(128,128,128,0.7);
    -moz-box-shadow: 0px 9px 150px 0px rgba(128,128,128,0.7);
}

.about-section,
.footer,
.copyright,
.portfolio{
  text-align: center;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.footer {
  color: #000000;
  
}

.location{
  text-align: center;
  box-shadow: 0px 9px 150px 0px rgba(128,128,128,0.7);
    -webkit-box-shadow: 0px 9px 150px 0px rgba(128,128,128,0.7);
    -moz-box-shadow: 0px 9px 150px 0px rgba(128,128,128,0.7);
}

.img-linkedin{
  border-radius: 50px;
}

.img-github{
  border-radius: 50px;
}

.link-linkedin{
  padding: 10px;
  text-decoration: none;
}

.link-linkedin:link{
  color: #ffffff;
}

.link-linkedin:visited{
  color: blue;
}

.link-linkedin:hover{
  color: #ffffff;
}

.link-github:link{
  color: #000000;
}

.link-github:visited{
  color: #000000;
}

.link-github:hover{
  color: #ffffff;
}

.link-github{
  padding: 10px;
  text-decoration: none;
}

.text-uppercase{
  text-align: center;
}

.copyright {
  background-color: rgba(128, 128, 128, 0.4);
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}